@import 'bootstrap';
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

.title {
    margin-bottom: 0;
}

.subtitle {
    margin-bottom: map-get($spacers, 4);
}

.subtitle-sm {
    margin-bottom: map-get($spacers, 4);
}

.section {
    margin: map-get($spacers, 5) 0;

    &:first-child {
        margin-top: 0;
    }
}


